@keyframes changeBorderColor {
    0% { border-color: #FF0000; } 
    10% { border-color: #FF6347; } 
    20% { border-color: #FFA07A; } 
    30% { border-color: #FFD700; } 
    40% { border-color: #FF69B4; } 
    50% { border-color: #FF00FF; } 
    60% { border-color: #BA55D3; } 
    70% { border-color: #4682B4; } 
    80% { border-color: #7FFFD4; } 
    90% { border-color: #32CD32; } 
    100% { border-color: #00FF7F; } 
}

.animate-border-color {
    animation: changeBorderColor 5s infinite;
}
